<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Board Game</title>
</head>
<body>

	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>BOARD GAME </strong>
		</div>


		<div id="Alert">
			<h2>Hand must be A or B 0-6</h2>
		</div>

		<div th:if="${message}">
			<h2 th:text="${message}"></h2>
		</div>

		<div class="panel-body">
			<form method="POST" action="/move">
				<input type="text" id="hand" placeholder="hand" name="hand"
					required="required" pattern="[A|B];[0-6]"
					title="It's necessary follow the pattern 'A-B;0-6'"> <input
					type="submit" class="btn btn-primary" value="Play">
			</form>

			<form method="POST" action="/restart">
				<input type="submit" class="btn btn-primary" value="Restart">
			</form>

		</div>

		<div id="Player1">
			<h1><----------</h1>
			<h1>A0 A1 A2 A3 A4 A5 A6</h1>
			<div th:if="${player1}">
				<h1 th:text="${player1}"></h1>
			</div>
			<div th:unless="${player1}">
				<h1>(0) [6] [6] [6] [6] [6] [6]</h1>
			</div>
			<h1><----------</h1>
			<BR />
		</div>

		<div id="Player2">
			<h1>----------></h1>
			<h1>B0 B1 B2 B3 B4 B5 B6</h1>
			<div th:if="${player2}">
				<h1 th:text="${player2}"></h1>
			</div>
			<div th:unless="${player2}">
				<h1>[6] [6] [6] [6] [6] [6] (0)</h1>
			</div>
			<h1>----------></h1>
			<BR />
		</div>

	</div>
</body>
</html>